@font-face {
	font-family: 'Atlas Grotesk Web';
	src: url('AtlasGrotesk-Medium-Web.woff2') format('woff2'),
		 url('AtlasGrotesk-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	}

.AtlasGrotesk-Medium-Web {
	font-family: 'Atlas Grotesk Web';
	font-weight: 500;
	font-style: normal;
	}
